@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* 01: agregamos la fuente externa aqui */
  @font-face {
    font-family: 'FredokaOne-Regular';
    src: url('../assets/fonts/FredokaOne-Regular.ttf') format('truetype')  
  }